.visEditor--transform {
  .visEditorSidebar__config > *,
  .visEditor--transform__textarea {
    flex-grow: 1;
    min-height:200px;
  }
}

.transform-vis-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.transform-vis-editor [role="tabpanel"] {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.output-vis {
  width: 100%;
}